body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #202020;
}

#alerte{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  border-radius: 24px;
  border : 2px solid white;
  color: white;
}

#alerte input[type = "button"]{

  border:0;
  background: none;
  display: block;
  margin: 40px auto 10px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#alerte input[type = "button"]:hover{
  background: #2ecc71;
  width: 70%;
  transition: 0.25s;
}

a {
  text-decoration: none;
}



